# Prerequisites: Ignore object compilation files
*.o
*.obj

# Ignore platform-specific executable distributions
*.exe
*.out
*.app

# Operating System structural caches
.DS_Store
Thumbs.db
.vscode/
.idea/
